ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

*{
  text-align: center;
}

.note{
  font-size: 20px;
}

p{
  color: red;
}

#id-selector-demo{
  color: green;
}

li[value="4"]{
  color: blue;
}

p[draggable="true"]{
  font-size: 20px;
  color: rgb(24, 86, 219);
}

p[draggable="false"]{
  color: red;
}

/* Write your CSS below, don't change the rules above. */
